<!-- Bootstrap Footer -->
<!-- <footer class="bg-dark text-light text-center py-3">
    <p>&copy; 2023 Your Website Name. All rights reserved.</p>
</footer> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.12.0/brython.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- <script src="scripts/scripts.js"></script> -->
</body>

</html>